* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: #f5f5f5;
}

h1 {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 1rem;
}

h2 {
	font-size: 1.5rem;
	font-weight: 500;
	margin-bottom: 1rem;
}

h3 {
	font-size: 1.25rem;
	font-weight: 500;
	margin-bottom: 1rem;
}

h4 {
	font-size: 1rem;
	font-weight: 500;
	margin-bottom: 1rem;
}

h5 {
	font-size: 0.875rem;
	font-weight: 500;
	margin-bottom: 1rem;
}

h6 {
	font-size: 0.75rem;
	font-weight: 500;
	margin-bottom: 1rem;
}

p {
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 1rem;
}

a {
	text-decoration: none;
	color: #000;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
}
