@import url('./general.css');

:root {
  --r-p-width: 250px;
  --r-p-background-color: #fff;
  --r-p-border: 5px solid rgba(0 0 0 / 0.2);
  --r-p-border-radius: 15px;
  --r-p-buttons-border-radius: 5px;
  --r-p-buttons-size: 20px;
  --r-p-title-font-size: 1.2rem;
  --r-p-title-icon-size: 1.2rem;
  --r-p-reason-font-size: 19px;

  --r-p-bottom: 30px;
  --r-p-top: initial;
  
  --r-p-right-start: -230px;
  --r-p-right-end: 30px;

  --r-p-left-start: initial;
  --r-p-left-end: initial;
}